//- This file contains the current user's favorited restaurants as
//- well as information about each restaurant and links to their menus.
//- Author: Timothy Polich
//- 
extends layouts/main-layout

block content
  main(style='margin-top: 80px')
    h1 Favorite Restaurants
    section.popular-restaurants
      if favorites
        each favorite in favorites
          .restaurant-card
            h2= favorite.restaurant_Name 
            img(src=favorite.image_url)
            p Rating: 
              span 4.5
            a(href='/restaurantMenuPage/' + favorite.restaurantID) View Menu
            p Deliver Time: 
              span= favorite.delivery_time
            button(id='add-promo-button' data-fav-id=favorite.id) Remove 
  script.
    let popular = document.getElementsByClassName('popular-restaurants')
    console.log('popular', popular)
    if(popular.length > 0 && popular[0].firstElementChild){
      let hasFavorites = true;
    }else{
      console.log('no favorites')
      let noFavorites = document.createElement('h3')
      noFavorites.setAttribute('id', 'no-favorites')
      noFavorites.innerHTML = 'You have no favorites.'
      popular[0].appendChild(noFavorites)
      //popular[0].innerHTML = '<h3>You have no favorites.</h3>'
    }
    document.querySelectorAll('button[data-fav-id]').forEach(button => {
      button.addEventListener('click', (e) => {
        const favId = e.target.getAttribute('data-fav-id');
        fetch(`/favorites/${favId}`, {
          method: 'DELETE',
        }).then(response => {
          if (response.ok) {
            // Handle successful removal here
            // For example, you could remove the restaurant card from the DOM
                  e.target.parentElement.remove();
                  if(popular.length > 0 && popular[0].firstElementChild){
                    hasFavorites = true;
                  }else{
                      let noFavorites = document.createElement('h3')
                      noFavorites.setAttribute('id', 'no-favorites')
                      noFavorites.innerHTML = 'You have no favorites.'
                      popular[0].appendChild(noFavorites)
                  }



          } else {
            // Handle the error here
            console.error('Error removing favorite:', response);
          }
        }).catch(err => console.error(err));
      });
    });
