doctype html
html(lang="en")
    include ./partials/head
    header
        div.header-image
        nav
            a.logo(href="/")
                span.thin Gator
                span.bold Bites
            ul
                li
                    a(href="") Drivers
                li
                    a(href="") Restaurants
                //li
                //    a(href="") Grocery
                //li
                //    a(href="") Alcohol
                //li
                //    a(href="") More
            div.right-btns
                a.login-btn(href="login")
                    img(src="/images/user.png", style= {width: "15px", height: "15px", marginBottom: "15px"} )
                    span(style= {margin: "5px"}) Log in
                a.signup-btn(href="signup") Sign up
        h1 Find your favorite restaurants, delivered.
        form.search-form(action='')
            select#category-select(name='category')
                option(value='') All
                option(value='italian') Italian
                option(value='american') American
                option(value='mexican') Mexican
                option(value='chinese') Chinese
                option(value='japanese') Japanese
                option(value='korean') Korean
                option(value='thai') Thai
                option(value='vietnamese') Vietnamese
                option(value='greek') Greek
                option(value='french') French
            input.search-input(id='search-input', type='text', placeholder='Search For Restaurants')
            button.search-btn(type='submit')
                img(src='images/search-icon.png', alt='search', style='width: 30px; height: 30px;')

    body(onload='initMap()')

        main
            div.maps-frame(id="map")
                iframe(
                    width="100%",
                    height="100%",
                    loading="lazy",
                    allowfullscreen,
                    referrerpolicy="no-referrer-when-downgrade",
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCqHQxuCGH2vnVMNkTRDReJIX3YZU-CIY8&q=Space+Needle,Seattle+WA"
                )

            h3.number-of-results
            section.popular-restaurants
    script.
      // Wait for the DOM to load before adding event listeners
      document.addEventListener('DOMContentLoaded', function() {

        // Get the form element
        var form = document.querySelector('form.search-form');
        // Add an event listener for form submissions
        form.addEventListener('submit', function(event) {
          // Prevent the default form submission behavior
          event.preventDefault();

          // Get the selected category
          var categorySelect = document.getElementById('category-select')
          var search_input = document.querySelector('input.search-input').value;
          var selectedCategory = categorySelect.options[categorySelect.selectedIndex].value;

          console.log('Selected category:', selectedCategory);
          console.log('Search query:', search_input);

          fetch('/getAllRestaurants')
            .then(function(response) {
              return response.json();
            })
            .then(function(data) {
              // Display the restaurant data on the page
              displayRestaurants(data);
            })
            .catch(function(error) {
              console.error('Error fetching restaurant data:', error);
            });
        });

      });
        // Display restaurant data on the page
        function displayRestaurants(restaurants) {
        // Get the popular restaurants section element
        var popularRestaurants = document.querySelector('section.popular-restaurants');
        // Get the number of results section element
        var searchNum = document.querySelector('h3.number-of-results');
        // Clear the content of the section
        popularRestaurants.innerHTML = '';
        // Update number of results found
        searchNum.innerHTML = 'Results Found: ' + restaurants.length;
        // Loop through the restaurants and create an HTML element for each one
        for (var i = 0; i < restaurants.length; i++) {
            var restaurant = restaurants[i];
            var restaurantElement = document.createElement('div');
            restaurantElement.innerHTML = `
            <img src="https://via.placeholder.com/150x150" alt="${restaurant['restaurant Name']}">
            <h3>${restaurant['restaurant Name']}</h3>
            <p>${restaurant.address}</p>
            <p>${restaurant.city}, ${restaurant.state_} ${restaurant['zip code']}</p>
            <p>Cuisine: ${restaurant['cuisine_type']}</p>
            `;
            popularRestaurants.appendChild(restaurantElement);
        }
        }


    include ./partials/footer
