doctype html
html(lang="en")

    // Include the head partial file which contains metadata for the webpage
    include ./partials/head

    // Define the header section of the webpage with the logo, login/signup buttons, and search form
    header(style="margin-bottom: 0")
        h5 SFSU - Spring 2023 - Team 02
        div.header-image
        nav
            a.logo(href="/")
                span.thin Gator
                span.bold Bites
            div.right-btns
                a.login-btn(href="login")
                    img(src="/images/user.png", style= {width: "15px", height: "15px", marginBottom: "15px"} )
                    span(style= {margin: "5px"}) Log in
                a.signup-btn(href="signup") Sign up
        h1 Find your favorite restaurants, delivered.

        // Define the search form with a select element for restaurant categories and a text input for search term
        form.search-form(method="GET" action="/middleware/search.js" enctype="application/x-www-form-urlencoded")
            select#category-select(name='category')
                option(value='') All
                option(value='italian') Italian
                option(value='american') American
                option(value='mexican') Mexican
                option(value='chinese') Chinese
                option(value='japanese') Japanese
                option(value='korean') Korean
                option(value='thai') Thai
                option(value='vietnamese') Vietnamese
                option(value='greek') Greek
                option(value='french') French
            input.search-input(id='search-input', type='text', name="searchTerm"  placeholder='Search For Restaurants')
            button.search-btn(type='submit')
                img(src='images/search-icon.png', alt='search', style='width: 30px; height: 30px;')

    // Initialize Google Maps Window
    body(onload='initMap()')

        // Define the frame attributes for Embedded Google Maps API
        div.maps-frame(id="map")
            iframe(
                width="100%",
                height="100%",
                loading="lazy",
                allowfullscreen,
                referrerpolicy="no-referrer-when-downgrade",
                src="https://www.google.com/maps/embed/v1/place" +
                "?key=AIzaSyCqHQxuCGH2vnVMNkTRDReJIX3YZU-CIY8" +
                "&q=San+Francisco+CA" +
                "&zoom=14"
            )

        main
            // Display the # of search results
            h3.number-of-results
            // Display the search results
            section.popular-restaurants
        div.main-card-container
            .main-card-grid
                .main-card
                    a(href="driver")
                        img(src="/images/delivery-driver.png" alt="main-card-img")
                    p Drive your way to a
                    p reliable income - anytime, anywhere.
                    a.btn(href="driverInfo" class="button") Become a Driver
                .main-card
                    a(href="restaurant")
                        img(src="/images/partner.png" alt="main-card-img")
                    p Partner with us to expand your
                    p business and reach more customers.
                    a.btn(href="restaurant" class="button") Become a Partner
                .main-card
                    a(href="/")
                        img(src="/images/sfsu.png" alt="main-card-img")
                    p Get your food delivered to
                    p campus in no time - Quick & Easy
                    a.btn(href="/" class="button") Find Restaurants

        include ./partials/footer


