doctype html
html(lang="en")
    include ./partials/head
    body
        include ./partials/header
        block content
            .order-form-container(onload='initMap()')
                div.maps-order(id="map")
                    iframe(
                        width="100%",
                        height="100%",
                        loading="lazy",
                        allowfullscreen,
                        referrerpolicy="no-referrer-when-downgrade",
                        src="https://www.google.com/maps/embed/v1/place" +
                        "?key=AIzaSyCqHQxuCGH2vnVMNkTRDReJIX3YZU-CIY8" +
                        "&q=San+Francisco+CA" +
                        "&zoom=14"
                    )
                table
                    tr
                        td
                            h3 Your Order
                    tr
                        td
                            form.order-form
                                table.order-table
                                    tr
                                        td
                                            label.order-label1 Order Number
                                        td.order-info
                                            label.order-label1 #
                                    tr
                                        td.order-progress
                                            label.order-label2 Preparing
                                            progress.order-bar(value='1' max='2') 
                                        td.order-progress
                                            label.order-label2 Out for Delivery 
                                            progress.order-bar(value='0' max='2')
                                        td.order-progress
                                            label.order-label2 Delivered 
                                            progress.order-bar(value='0' max='2')
        include ./partials/footer





