//- This file contains the current user's order status along with
    a map indicating the location of the delivery driver/restaurant,
    order number, estimated time of delivery, and a progress bar indicating
    what part of the process your order is in.

    Author: Timothy Polich
//- 
extends layouts/main-layout

block content
    head 
        title Order Status - Gator Bites
    
    h1 Order Placed
    .orderStatus-form-container(onload='initMap()')
        div.maps-orderStatus(id="map")
            iframe(
                width="100%",
                height="100%",
                loading="lazy",
                allowfullscreen,
                referrerpolicy="no-referrer-when-downgrade",
                src="https://www.google.com/maps/embed/v1/place" +"?key=AIzaSyCqHQxuCGH2vnVMNkTRDReJIX3YZU-CIY8" +"&q=SFSU" +"&zoom=14"
            )
        table
            tr
                td
                    h3 Your Order
            tr
                td
                    form.orderStatus-form
                        table.orderStatus-table
                            tr
                                td.orderStatus-info
                                    label.orderStatus-label1 Order Number:
                                td.orderStatus-info
                                    label.orderStatus-eta-label Estimated Arrival Time: 
                            tr
                                td.orderStatus-progress
                                    .orderStatus-label2 Preparing
                                    progress.orderStatus-bar(value='1' max='2') 
                                td.orderStatus-progress
                                    .orderStatus-label2 Out for Delivery 
                                    progress.orderStatus-bar(value='0' max='2')
                                td.orderStatus-progress
                                    .orderStatus-label2 Delivered 
                                    progress.orderStatus-bar(value='0' max='2')
    script.
        // Get current time
        var currentTime = new Date();
        currentTime.setMinutes(currentTime.getMinutes() + 30);
        // Extract hours and minutes
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        // Format hours and minutes (add leading zeros if necessary)
        var formattedHours = hours < 10 ? "0" + hours : hours;
        var formattedMinutes = minutes < 10 ? "0" + minutes : minutes;

        // Display the time (hours:minutes)
        var formattedTime = formattedHours + ":" + formattedMinutes;


        //- console.log(formattedTime); // Output: "14:30"
        document.querySelector('.orderStatus-label1').innerHTML = `Order Number: ${Math.floor(Math.random() * 1000000000)}`;
        document.querySelector('.orderStatus-eta-label').innerHTML = `Estimated Arrival Time: ${formattedTime}`;
